/* место для вашего кода */
.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
    margin: auto;
    color: #131313;
    background-color: #fff;
}



.content-section_header {
  display: flex;
  justify-content: space-between;
  padding: 92px 24px 96px 24px;
  box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
    margin: auto;
    color: #131313;
    background-color: #fff;
}

.header__logo-image {
    display: flex;
    flex-wrap: nowrap;
    Width: 148px;
    Height: 105px;
  }

.header__menu-list {
  display: flex;
  flex-direction: row;
}